<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Migrated rules for AutoUpdate.ruleset" Description="已通过项目“D:\外贸业务系统\SourceCode\Trunk\FOBMS\AutoUpdate\AutoUpdate.csproj”中的“Debug (x86)”配置的 CodeAnalysisRules 属性创建此规则集。" ToolsVersion="11.0">
  <RuleHintPaths>
    <Path>C:\Program Files\Microsoft Visual Studio 8\Team Tools\Static Analysis Tools\FxCop\\rules</Path>
  </RuleHintPaths>
</RuleSet>