<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="cacheManager" type="CacheManager.Core.Configuration.CacheManagerSection, CacheManager.Core" />
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
		<!--    The GraphLib configuration settings    -->
		<section name="GraphLibs" type="Netron.GraphLib.Configuration.GraphLibConfigurationHandler,NetronGraphLib" />
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="RUINORERP.UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<system.diagnostics>
		<trace autoflush="true" indentsize="2">
			<listeners>
				<add name="MyListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="./WFDesigner.log" />
				<!-- <remove name="MyListener"/> -->
			</listeners>
		</trace>
	</system.diagnostics>
	<appSettings>
		<!-- The directory the DiagramBrowserTab will initially load -->
		<add key="DiagramBrowserInitialDirectory" value="GraphSamples\" />
		<!-- The directory the Template browser will initially load -->
		<add key="TemplateBrowserInitialDirectory" value="Templates\" />
		<add key="ClientSettingsProvider.ServiceUri" value="" />
	</appSettings>
	<!-- Settings of the GraphLib control 根目录不用指定具体目录了-->
	<GraphLibs>
		<GraphLib location="Entitology.dll" />
		<GraphLib location="Automatology.dll" />
	</GraphLibs>
	<cacheManager xmlns="http://cachemanager.michaco.net/schemas/CacheManagerCfg.xsd">
		<!-- Add your custom cache configuration here -->
		<managers>
			<!-- example cache -->
			<cache name="myCache" updateMode="Up" enableStatistics="true" enablePerformanceCounters="true">
				<handle ref="sysCache" name="myHandle" expirationMode="Absolute" timeout="20m" />
			</cache>
		</managers>
		<cacheHandles>
			<handleDef id="sysCache" type="CacheManager.SystemRuntimeCaching.MemoryCacheHandle`1, CacheManager.SystemRuntimeCaching" />
		</cacheHandles>
	</cacheManager>
</configuration>