<?xml version="1.0" encoding="utf-8" ?>
<log4net>
	<!--注册Appender-->
	<root>
		<level value="ALL" />
		<appender-ref ref="AdoNetAppender" />
	</root>
	<!--配置Appender-->
	<appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
		<bufferSize value="-1" />
		<connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
		<connectionString value="data source=192.168.0.254;initial catalog=erpnew;persist security info=True;user id=sa;password=SA!@#123sa;MultipleActiveResultSets=True;" />
		<commandText value="INSERT INTO Logs ([User_ID],[Date],[Level],[Logger],[Message],[Exception],[Operator],[ModName],[MAC],[IP],[Path],[ActionName],[MachineName]) VALUES (@User_ID,@log_date, @log_level, @logger, @Message, @Exception,@Operator,@ModName,@MAC,@IP,@Path,@ActionName,@MachineName)" />
		<parameter>
			<parameterName value="@log_date"  />
			<dbType value="DateTime" />
			<layout type="log4net.Layout.RawTimeStampLayout" />
		</parameter>
		<parameter>
			<parameterName value="@log_date" />
			<dbType value="System.Data.DbType.DateTime" />
			<layout type="log4net.Layout.PatternLayout" />
		</parameter>
		<parameter>
			<parameter value="@log_level" />
			<dbType value="System.Data.DbType.String" />
			<layout type="log4net.Layout.Pattern" />
		</parameter>
		<parameter>
			<parameter value="@logger" />
			<dbType value="System.Data.DbType.String" />
			<layout type="log4net.Layout.Pattern" />
			<layout value="%logger" />
		</parameter>

		<parameter value="@Message" />
		<dbType value="System.Data.DbType.String" />
		<layout type="log4net.Layout.Pattern" />
		<layout value="%message" />


		<parameter value="@exception" />
		<dbType value="System.Data.DbType.String" />
		<layout type="log4net.Layout.ExceptionLayout" />
		<layout value="%exception" />

		<parameter value="@Operator" />
		<dbType value="System.Data.DbType.String" />
		<layout type="log4net.Layout.Pattern" />
		<layout value="%property{Operator}" />

		<parameter value="@ModName" />
		<dbType value="System.Data.DbType.String" />
		<layout type="log4net.Layout.Pattern" />
		<layout value="%property{ModName}" />

		<parameter value="@MAC" />
		<dbType value="System.Data.DbType.String" />
		<layout type="log4net.Layout.Pattern" />
		<layout value="%property{MAC}" />

		<parameter value="@IP" />
		<dbType value="System.Data.DbType.String" />
		<layout type="log4net.Layout.Pattern" />
		<layout value="%property{IP}" />

		<parameter value="@Path" />
		<dbType value="System.Data.DbType.String" />
		<layout type="log4net.Layout.Pattern" />
		<layout value="%property{Path}" />

		<parameter value="@ActionName" />
		<dbType value="System.Data.DbType.String" />
		<layout type="log4net.Layout.Pattern" />
		<layout value="%property{ActionName}" />

		<parameter value="@MachineName" />
		<dbType value="System.Data.DbType.String" />
		<layout type="log4net.Layout.Pattern" />
		<layout value="%property{MachineName}" />
	</appender>
</log4net>
