<?xml version="1.0" encoding="utf-8" ?>
<log4net>

	<!-- 设置 WorkflowCore 相关日志器的级别为 WARN 或更高 -->
	<logger name="WorkflowCore">
		<level value="WARN" />
	</logger>

	<!-- 或者更具体地针对 WorkflowHost -->
	<logger name="WorkflowCore.Services.WorkflowHost">
		<level value="WARN" />
	</logger>

	<!--日志级别:可选值: ERROR > WARN > INFO > DEBUG -->
	<root>
		<!-- 定义记录的日志级别-->
		<!--<level value="ERROR"/>
		<level value="WARN"/>-->
		<level value="INFO"/>
		<!--<level value="DEBUG"/>-->
		<appender-ref ref="RollingFileAppender" />
		<!-- 记录到什么介质中-->
	</root>
	<!-- 文件日志Appender配置 -->
	<appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
		<file value="Logs\\log-file.txt" />
		<appendToFile value="true" />
		<rollingStyle value="Composite" />
		<maxSizeRollBackups value="10" />
		<maximumFileSize value="10MB" />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %-5level %logger [%property{Operator}] [%property{ModName}] [%property{Path}] [%property{ActionName}] [%property{IP}] [%property{MAC}] [%property{MachineName}] - %message%newline%exception" />
		</layout>
	</appender>
</log4net>