<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="LogDatabase"
			 connectionString="PKUB+H8X98F3tifl9di75Iv8BPRxoyFPRSdqZ/fdOZ+zNYeil4r0Cz+f+XUCAUJmLhEzoPtmC9CwP+tcS22oa6PH7qUiJKz/0v3fDAX/3nJPXma0j95UayZHzP2pzs4a5BIqU0ngXeZTRtNzxW4FmbFxzmNAS6WAUNafDJQ/AOrlnNo/k+K3hz9mxeRWkDJkbxfh2uJkUhAmrr5y6sQXt6H3NV9cgnIhw3Jeb542VgZUFIKqF3pp3lH2vRgj6z9/"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>



<!--- connectionString="PKUB+H8X98F3tifl9di75Iv8BPRxoyFPRSdqZ/fdOZ+zNYeil4r0Cz+f+XUCAUJmLhEzoPtmC9CwP+tcS22oa6PH7qUiJKz/0v3fDAX/3nJPXma0j95UayZHzP2pzs4a5BIqU0ngXeZTRtNzxW4FmbFxzmNAS6WAUNafDJQ/AOrlnNo/k+K3hz9mxeRWkDJkbxfh2uJkUhAmrr5y6sQXt6H3NV9cgnIhw3Jeb542VgZUFIKqF3pp3lH2vRgj6z9/" -->