<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="LogDatabase"
			 connectionString="np8naHzqiWBCJqpSO4QSXI/ghDLAm2CEfERRTlCbkezBni4nhqy4xUvEM8POoYzOrjfJ4+G8kZFSomFq1zeelWB9EvZ/7ZZrgk+DsL1qeNYSVXSoV/9TwmrrVt8I4xgygqiBhCKeXiGjZn1JFQPKaPyBuelddfvbauGGTxSlPi1/ZO5NV2pMg9UwfUsziw26P2vCjCLG9iQ/0E5NvJmTi5cn+gxOBn6kNzlyJsA2MQleOSLnFmkFtWDY/78a3Wob9iLDVmZbzcY3nZ8RNNMmjM+dNCFI+uWMnNsy60l1aoQ="
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>



<!--- connectionString="PKUB+H8X98F3tifl9di75Iv8BPRxoyFPRSdqZ/fdOZ+zNYeil4r0Cz+f+XUCAUJmLhEzoPtmC9CwP+tcS22oa6PH7qUiJKz/0v3fDAX/3nJPXma0j95UayZHzP2pzs4a5BIqU0ngXeZTRtNzxW4FmbFxzmNAS6WAUNafDJQ/AOrlnNo/k+K3hz9mxeRWkDJkbxfh2uJkUhAmrr5y6sQXt6H3NV9cgnIhw3Jeb542VgZUFIKqF3pp3lH2vRgj6z9/" -->