<?xml version="1.0" encoding="utf-8" ?>
<log4net>
	<!-- 自定义 Appender: 使用 EnhancedAdoNetAppender -->
	<appender name="AdoNetAppender"
			  type="RUINORERP.Common.Log4Net.EnhancedAdoNetAppender, RUINORERP.Common">

		<!-- 连接字符串: 使用占位符,运行时自动替换为加密连接字符串 -->
		<connectionString value="${ConnectionString}" />
		<connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />

		<!-- BufferSize: 0=立即写入, 10=缓存10条后批量写入 -->
		<bufferSize value="0" />

		<!-- 命令文本: 匹配数据库表结构 -->
		<commandText value="INSERT INTO Logs ([Date],[Level],[Logger],[Message],[Exception],[Operator],[ModName],[Path],[ActionName],[IP],[MAC],[MachineName],[User_ID])
                           VALUES (@log_date, @log_level, @logger, @Message, @Exception, @Operator, @ModName, @Path, @ActionName, @IP, @MAC, @MachineName, @User_ID)" />

		<!-- 标准参数: 使用 PatternLayout -->
		<parameter>
			<parameterName value="@log_date" />
			<dbType value="DateTime" />
			<layout type="log4net.Layout.RawTimeStampLayout" />
		</parameter>

		<parameter>
			<parameterName value="@log_level" />
			<dbType value="String" />
			<size value="10" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%level" />
			</layout>
		</parameter>

		<parameter>
			<parameterName value="@logger" />
			<dbType value="String" />
			<size value="500" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%logger" />
			</layout>
		</parameter>

		<!-- 自定义参数: 使用 CustomLayout -->
		<parameter>
			<parameterName value="@Message" />
			<dbType value="String" />
			<size value="-1" />
			<rawLayout type="RUINORERP.Common.Log4Net.CustomRawLayout, RUINORERP.Common">
				<PropertyName value="Message" />
				<IsNumeric value="false" />
			</rawLayout>
		</parameter>

		<parameter>
			<parameterName value="@Exception" />
			<dbType value="String" />
			<size value="-1" />
			<rawLayout type="RUINORERP.Common.Log4Net.CustomRawLayout, RUINORERP.Common">
				<PropertyName value="Exception" />
				<IsNumeric value="false" />
			</rawLayout>
		</parameter>

		<parameter>
			<parameterName value="@Operator" />
			<dbType value="String" />
			<size value="200" />
			<rawLayout type="RUINORERP.Common.Log4Net.CustomRawLayout, RUINORERP.Common">
				<PropertyName value="Operator" />
				<IsNumeric value="false" />
			</rawLayout>
		</parameter>

		<parameter>
			<parameterName value="@ModName" />
			<dbType value="String" />
			<size value="50" />
			<rawLayout type="RUINORERP.Common.Log4Net.CustomRawLayout, RUINORERP.Common">
				<PropertyName value="ModName" />
				<IsNumeric value="false" />
			</rawLayout>
		</parameter>

		<parameter>
			<parameterName value="@Path" />
			<dbType value="String" />
			<size value="100" />
			<rawLayout type="RUINORERP.Common.Log4Net.CustomRawLayout, RUINORERP.Common">
				<PropertyName value="Path" />
				<IsNumeric value="false" />
			</rawLayout>
		</parameter>

		<parameter>
			<parameterName value="@ActionName" />
			<dbType value="String" />
			<size value="50" />
			<rawLayout type="RUINORERP.Common.Log4Net.CustomRawLayout, RUINORERP.Common">
				<PropertyName value="ActionName" />
				<IsNumeric value="false" />
			</rawLayout>
		</parameter>

		<parameter>
			<parameterName value="@IP" />
			<dbType value="String" />
			<size value="20" />
			<rawLayout type="RUINORERP.Common.Log4Net.CustomRawLayout, RUINORERP.Common">
				<PropertyName value="IP" />
				<IsNumeric value="false" />
			</rawLayout>
		</parameter>

		<parameter>
			<parameterName value="@MAC" />
			<dbType value="String" />
			<size value="30" />
			<rawLayout type="RUINORERP.Common.Log4Net.CustomRawLayout, RUINORERP.Common">
				<PropertyName value="MAC" />
				<IsNumeric value="false" />
			</rawLayout>
		</parameter>

		<parameter>
			<parameterName value="@MachineName" />
			<dbType value="String" />
			<size value="50" />
			<rawLayout type="RUINORERP.Common.Log4Net.CustomRawLayout, RUINORERP.Common">
				<PropertyName value="MachineName" />
				<IsNumeric value="false" />
			</rawLayout>
		</parameter>

		<parameter>
			<parameterName value="@User_ID" />
			<dbType value="Int64" />
			<allowDBNull value="true" />
			<!-- 只用原生布局，放弃自定义 -->
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%property{User_ID}" />
			</layout>
		</parameter>
	</appender>

	<!-- Root Logger 配置 -->
	<root>
		<level value="DEBUG" />
		<appender-ref ref="AdoNetAppender" />
	</root>
</log4net>
